---
services:
  jellyfin:
    image: ghcr.io/linuxserver/jellyfin:10.11.3
    container_name: jellyfin
    networks:
      - medianet
    volumes:
      - jellyfin_data:/config
      - /certs/jellyfin:/certs
      - /chungus/media/tvshows:/data/tvshows
      - /chungus/media/movies:/data/movies
    ports:
      - "8920:8920"
      - "8096:8096"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
    restart: unless-stopped

  ombi:
    image: ghcr.io/linuxserver/ombi:4.53.0-development
    container_name: ombi
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
    networks:
      - medianet
    volumes:
      - ombi_data:/config
    ports:
      - "3579:3579"
    restart: unless-stopped

  radarr:
    image: ghcr.io/linuxserver/radarr:5.28.0
    container_name: radarr
    networks:
      - medianet
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
    volumes:
      - radarr_data:/config
      - /chungus/media/movies:/movies
      - /chungus/media/downloads:/downloads
    ports:
      - "7878:7878"
    restart: unless-stopped

  sonarr:
    image: ghcr.io/linuxserver/sonarr:4.0.16
    container_name: sonarr
    networks:
      - medianet
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
    volumes:
      - sonarr_data:/config
      - /chungus/media/tvshows:/tvshows
      - /chungus/media/downloads:/downloads
    ports:
      - "8989:8989"
    restart: unless-stopped

  prowlarr:
    image: ghcr.io/linuxserver/prowlarr:2.3.0
    container_name: prowlarr
    networks:
      - medianet
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
    volumes:
      - prowlarr_data:/config
    ports:
      - "9696:9696"
    restart: unless-stopped

networks:
  medianet:
    name: medianet

volumes:
  jellyfin_data:
    name: jellyfin_data
    external: true

  ombi_data:
    name: ombi_data
    external: true

  radarr_data:
    name: radarr_data
    external: true

  sonarr_data:
    name: sonarr_data
    external: true

  prowlarr_data:
    name: prowlarr_data
    external: true
