---
services:
  tsrecorder:
    image: tailscale/tsrecorder:v1.76.1
    command: /tsrecorder --dst=/data/recordings --statedir=/data/state --ui
    container_name: tsrecorder
    environment:
      - TS_AUTHKEY=$TSRECORDER_AUTHKEY
    volumes:
      - tsrecorder:/data
    restart: unless-stopped

volumes:
  tsrecorder:
    name: tsrecorder
