---
services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ee:2.37.0-alpine
    networks:
      - portainer
    ports:
      - "9443:9443"
      - "8000:8000"
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

networks:
  portainer:
    name: portainer

volumes:
  portainer_data:
    name: portainer_data
    external: true
