---
services:
  app:
    container_name: pocket-id
    image: ghcr.io/pocket-id/pocket-id:v2.2
    networks:
      - proxy
    ports:
      - 1411:1411
    volumes:
      - pocket-id_data:/app/data
    environment:
      - PUID=1000
      - PGID=1000
      - TRUST_PROXY=true
      - APP_URL=${APP_URL}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - MAXMIND_LICENSE_KEY=${MAXMIND_LICENSE_KEY}
    healthcheck:
      test: "curl -f http://localhost:1411/healthz"
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    labels:
      - traefik.enable=true
      - traefik.http.routers.auth.rule=Host(`auth.hogwarts.zone`)
      - traefik.http.routers.auth.tls.certresolver=cloudflare
      - traefik.http.services.auth.loadbalancer.server.port=1411
    restart: unless-stopped

networks:
  proxy:
    name: proxy
    external: true

volumes:
  pocket-id_data:
    name: pocket-id_data
    external: true
