---
services:
  nginx:
    image: nginx:1.27.1-alpine
    container_name: nginx
    ports:
      - "8765:80"
    volumes:
      - /opt/election-map:/usr/share/nginx/html:ro
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
