---
services:
  plausible_db:
    image: postgres:16-alpine
    networks:
      - plausible
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      start_period: 1m
    restart: always

  plausible_events_db:
    image: clickhouse/clickhouse-server:24.12-alpine
    networks:
      - plausible
    volumes:
      - event_db:/var/lib/clickhouse
      - event_db_logs:/var/log/clickhouse-server
      - ./clickhouse/logs.xml:/etc/clickhouse-server/config.d/logs.xml:ro
      - ./clickhouse/ipv4-only.xml:/etc/clickhouse-server/config.d/ipv4-only.xml:ro
      - ./clickhouse/low-resources.xml:/etc/clickhouse-server/config.d/low-resources.xml:ro
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    environment:
      - CLICKHOUSE_SKIP_USER_SETUP=1
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 -O - http://127.0.0.1:8123/ping || exit 1"]
      start_period: 1m
    restart: always

  app:
    image: ghcr.io/plausible/community-edition:v3.1.0
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh run"
    networks:
      - plausible
    depends_on:
      plausible_db:
        condition: service_healthy
      plausible_events_db:
        condition: service_healthy
    volumes:
      - app_data:/var/lib/plausible
    ports:
      - "8888:8000"
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    environment:
      - DISABLE_REGISTRATION=false
      - BASE_URL=${BASE_URL}
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - TOTP_VAULT_KEY=${TOTP_VAULT_KEY}
      - MAXMIND_LICENSE_KEY=${MAXMIND_LICENSE_KEY}
      - MAXMIND_EDITION=GeoLite2-City
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - MAILGUN_API_KEY=${MAILGUN_API_KEY}
      - MAILGUN_DOMAIN=${MAILGUN_DOMAIN}
      - MAILER_ADAPTER=Bamboo.MailgunAdapter
      - MAILGUN_BASE_URI=https://api.eu.mailgun.net/v3
    restart: always

networks:
  plausible:
    name: plausible

volumes:
  db:
    name: plausible_db
    external: true

  event_db:
    name: plausible_event_db
    external: true

  event_db_logs:
    name: plausible_event_db_logs
    external: true

  app_data:
    name: plausible_app
    external: true
