services:
  app:
    image: ghcr.io/open-webui/open-webui:v0.4.7
    volumes:
      - data:/app/backend/data
    environment:
      - OPENAI_API_BASE_URL=${OPENAI_API_BASE_URL}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    ports:
      - 8083:8080
    restart: unless-stopped

  pipelines:
    image: ghcr.io/open-webui/pipelines:main
    environment:
      - PIPELINES_URLS="https://raw.githubusercontent.com/open-webui/pipelines/main/examples/pipelines/providers/anthropic_manifold_pipeline.py"
    volumes:
      - pipelines:/app/pipelines
    ports:
      - 9099:9099
    restart: unless-stopped

volumes:
  data:
    driver: local
  pipelines:
    driver: local
