---
- name: Disable pve-enterprise repo
  become: true
  ansible.builtin.deb822_repository:
    name: pve-enterprise
    types: deb
    uris: https://enterprise.proxmox.com/debian/pve
    suites: trixie
    components: pve-enterprise
    signed_by: /usr/share/keyrings/proxmox-archive-keyring.gpg
    enabled: false
    state: present

- name: Add pve-no-subscription repo
  become: true
  ansible.builtin.deb822_repository:
    name: pve-no-subscription
    types: deb
    uris: http://download.proxmox.com/debian/pve
    suites: trixie
    components: pve-no-subscription
    signed_by: /usr/share/keyrings/proxmox-archive-keyring.gpg
    state: present
