receiver="dvbt"
fr24key="{{ fr24_sharing_key }}"
bs="no"
raw="no"
path="/usr/lib/fr24/dump1090"
logmode="1"
procargs="--gain -10 --net"
windowmode="0"
mpx="no"
mlat="yes"
mlat-without-gps="yes"
bind-interface="0.0.0.0"
