---
services:
  radarr:
    image: ghcr.io/linuxserver/radarr:5.11.0
    networks:
      - medianet
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
    volumes:
      - radarr_data:/config
      - /chungus/media/movies:/movies
      - /chungus/media/downloads:/downloads
    ports:
      - "7878:7878"
    restart: unless-stopped

networks:
  medianet:
    external: true

volumes:
  radarr_data:
    external: true
