---
- name: Hogsmeade Proxmox
  hosts: hogsmeade
  vars:
    ansible_python_interpreter: "/usr/bin/python3"
    service_account_token: "{{ lookup('env', 'OP_CREDENTIAL') }}" # Do not use OP_SERVICE_ACCOUNT_TOKEN as variable name since it will reduce access to private secrets on the local machine

  roles:
    - name: Install and configure cloudflared
      role: sebdanielsson.cloudflared
      vars:
        cloudflare_tunnel_enable: true
        cloudflare_tunnel_credential: "{{ lookup('community.general.onepassword', 'cloudflare-tunnel-hogsmeade', field='credential', vault='prod', service_account_token=service_account_token) }}"
      state: present

    - name: Install and configure Tailscale
      role: artis3n.tailscale
      tailscale_args: "--ssh --advertise-routes=192.168.1.0/24"
      vars:
        tailscale_authkey: "{{ lookup('community.general.onepassword', 'ts-server-oauth', field='credential', vault='prod', service_account_token=service_account_token) }}"
        tailscale_oauth_preauthorized: true
        tailscale_tags: ["server"]
      state: present

    - name: Configure ACME on Proxmox node
      role: simoncaron.pve_acme
      vars:
        pve_acme_domain: "{{ lookup('community.general.onepassword', 'proxmox-acme', field='pve_acme_domain', vault='prod', service_account_token=service_account_token) }}"
        pve_acme_account_name: default
        pve_acme_account_email: "{{ lookup('community.general.onepassword', 'proxmox-acme', field='pve_acme_account_email', vault='prod', service_account_token=service_account_token) }}"
        pve_acme_account_directory: "https://acme-v02.api.letsencrypt.org/directory"
        pve_acme_validation_delay: "30"
        pve_acme_plugin_name: "cloudflare"
        pve_acme_plugin_api: "cf"
        pve_acme_plugin_data: "{{ lookup('community.general.onepassword', 'proxmox-acme', field='pve_acme_plugin_data', vault='prod', service_account_token=service_account_token) }}"

  tasks:
    - name: Ensure net.ipv4.ip_forward is enabled
      ansible.posix.sysctl:
        name: net.ipv4.ip_forward
        value: "1"
        sysctl_set: true
        reload: true
        sysctl_file: /etc/sysctl.d/99-tailscale.conf
        state: present

    - name: Ensure net.ipv6.conf.all.forwarding is enabled
      ansible.posix.sysctl:
        name: net.ipv6.conf.all.forwarding
        value: "1"
        sysctl_set: true
        reload: true
        sysctl_file: /etc/sysctl.d/99-tailscale.conf
        state: present

    - name: Install sudo
      ansible.builtin.apt:
        name:
          - sudo
        state: present

    - name: Add sebastian to sudoers group
      ansible.builtin.user:
        name: sebastian
        groups: sudo
        append: true
        state: present

    - name: Let sudoers group use sudo
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        regexp: "^%sudo"
        line: "%sudo ALL=(ALL:ALL) NOPASSWD:ALL"
        create: true
        mode: "0440"
        state: present

    - name: Set hostname
      ansible.builtin.hostname:
        name: hogsmeade
        use: systemd

    - name: Install certbot and certbot-dns-cloudflare
      ansible.builtin.pip:
        name:
          - certbot
          - certbot-dns-cloudflare
        state: present
        virtualenv: ~/python_docker/venv
        virtualenv_site_packages: true

    - name: Add cloudflare_api_key for certbot plugin
      ansible.builtin.lineinfile:
        path: /etc/letsencrypt/cloudflare.ini
        regexp: "^dns_cloudflare_api_token"
        line: "dns_cloudflare_api_token = {{ lookup('community.general.onepassword', 'cloudflare-certbot-api-token', field='credential', vault='prod', service_account_token=service_account_token) }}"
        create: true
        mode: "0640"
        state: present

    - name: Add renew hook for Jellyfin cert
      ansible.builtin.blockinfile:
        path: /etc/letsencrypt/renewal-hooks/deploy/jellyfin-pkcs12.sh
        block: |
          #!/bin/sh
          mkdir -p /certs/jellyfin
          openssl pkcs12 -export -password pass:{{ lookup('community.general.onepassword', 'certbot-jellyfin', field='pkcs12_password', vault='prod', service_account_token=service_account_token) }} -out /certs/jellyfin/jellyfin.pfx -inkey /etc/letsencrypt/live/{{ lookup('community.general.onepassword', 'certbot-jellyfin', field='domain', vault='prod', service_account_token=service_account_token) }}/privkey.pem -in /etc/letsencrypt/live/{{ lookup('community.general.onepassword', 'certbot-jellyfin', field='domain', vault='prod', service_account_token=service_account_token) }}/cert.pem
          chmod 755 /certs/jellyfin/jellyfin.pfx
          chown root:docker /certs/jellyfin/jellyfin.pfx
        create: true
        mode: "0750"
        state: present

    - name: Create certbot-renew-jellyfin service
      ansible.builtin.copy:
        mode: "0644"
        dest: /etc/systemd/system/certbot-renew-jellyfin.service
        content: |
          [Unit]
          Description=Renew certificates acquired via Certbot
          Documentation=https://eff-certbot.readthedocs.io/en/stable/

          [Service]
          Type=oneshot
          ExecStart=/root/python_docker/venv/bin/certbot renew --quiet --cert-name {{ lookup('community.general.onepassword', 'certbot-jellyfin', field='domain', vault='prod', service_account_token=service_account_token) }} --deploy-hook /etc/letsencrypt/renewal-hooks/deploy/jellyfin-pkcs12.sh
          PrivateTmp=true

    - name: Create certbot-renew-jellyfin.timer
      ansible.builtin.copy:
        mode: "0644"
        dest: /etc/systemd/system/certbot-renew-jellyfin.timer
        content: |
          [Unit]
          Description=Run Certbot twice daily

          [Timer]
          OnCalendar=*-*-* 00/12:00:00
          RandomizedDelaySec=12h
          Persistent=true

          [Install]
          WantedBy=timers.target

    - name: Enable certbot-renew-jellyfin.timer
      ansible.builtin.systemd:
        name: certbot-renew-jellyfin.timer
        state: started
        enabled: true
        daemon_reload: true

    - name: Obtain cert for Jellyfin
      ansible.builtin.shell: |
        ~/python_docker/venv/bin/certbot certonly \
        --dns-cloudflare \
        --dns-cloudflare-credentials /etc/letsencrypt/cloudflare.ini \
        --email {{ lookup('community.general.onepassword', 'certbot-jellyfin', field='email', vault='prod', service_account_token=service_account_token) }} \
        --agree-tos \
        --key-type ecdsa \
        --elliptic-curve secp384r1 \
        --rsa-key-size 4096 \
        --hsts \
        --uir \
        --deploy-hook /etc/letsencrypt/renewal-hooks/deploy/jellyfin-pkcs12.sh \
        --domain {{ lookup('community.general.onepassword', 'certbot-jellyfin', field='domain', vault='prod', service_account_token=service_account_token) }}
      args:
        creates: /etc/letsencrypt/live/{{ lookup('community.general.onepassword', 'certbot-jellyfin', field='domain', vault='prod', service_account_token=service_account_token) }}/fullchain.pem

    - name: Create ZFS filesystem and set sharenfs property
      community.general.zfs:
        name: chungus/media
        extra_zfs_properties:
          sharenfs: crossmnt,no_root_squash,rw=192.168.1.0/24
        state: present

    - name: Install python3-full
      ansible.builtin.apt:
        name:
          - python3-full
          - python3-virtualenv
        state: present

    - name: Install required Python packages in the virtual environment
      ansible.builtin.pip:
        name:
          - pyyaml
          - jsondiff
          - docker
          - docker-compose
          - proxmoxer
        state: present
        virtualenv: ~/python_docker/venv
        virtualenv_site_packages: true

    - name: Synchronize docker files
      ansible.posix.synchronize:
        src: ../docker/
        dest: /docker/
        archive: true
        delete: true
        owner: false
        group: false
        mode: push
        rsync_opts:
          - "--exclude=.DS_Store"

    - name: Docker System Prune
      ansible.builtin.command: docker system prune --all -f
      changed_when: true

    - name: Run all containers
      ansible.builtin.import_tasks: tasks/containers.yml

      # - name: Create Fedora VM
      #   ansible.builtin.import_tasks: tasks/fedora_vm.yml

  handlers:
    - name: Restart pveproxy
      ansible.builtin.service:
        name: pveproxy
        state: restarted
