---
- name: Configure Sebastian's MacBook Air
  hosts: localhost

  tasks:
    - name: Set hostname
      ansible.builtin.hostname:
        name: "Sebastian's MacBook Air"
        use: macos

    - name: SSH authorized key for 'sebastian'
      ansible.posix.authorized_key:
        user: sebastian
        key: "{{ lookup('env', 'SEBASTIAN_SSH_PUBLIC_KEY') }}"
        state: present

    - name: Copy sshd hardening config
      ansible.builtin.copy:
        src: 49-sshd-hardening.conf
        dest: /etc/ssh/sshd_config.d/49-sshd-hardening.conf
        owner: root
        group: wheel
        mode: "0644"
      become: true

    - name: Copy ssh hardening config
      ansible.builtin.copy:
        src: 49-ssh-hardening.conf
        dest: /etc/ssh/ssh_config.d/49-ssh-hardening.conf
        owner: root
        group: wheel
        mode: "0644"
      become: true

    - name: Add Homebrew taps
      community.general.homebrew_tap:
        name:
          - cloudflare/cloudflare
          - dotenvx/brew
          - hashicorp/tap
          - oven-sh/bun
          - teamookla/speedtest
        state: present

    - name: Update Homebrew
      community.general.homebrew:
        update_homebrew: true
        upgrade_all: false
        state: latest

    - name: Install Homebrew formulae
      community.general.homebrew:
        name:
          - ansible
          - asciinema
          - atuin-desktop
          - bash
          - bat
          - bottom
          - cloudflare/cloudflare/cf-terraforming
          - coreutils
          - curl
          - dockutil
          - dotenvx/brew/dotenvx
          - fd
          - fio
          - fnm
          - fx
          - gh
          - git
          - hashicorp/tap/terraform
          - httpie
          - iperf3
          - mas
          - mtr
          - msedit
          - nano
          - nmap
          - nvim
          - rsync
          - shellcheck
          - ssh-audit
          - tmux
          - wget
          - xdg-ninja
          - zsh
        force_formula: true
        update_homebrew: false
        upgrade_all: false
        state: present

    - name: Install Homebrew casks
      community.general.homebrew_cask:
        name:
          - 1password
          - 1password-cli
          - discord
          - font-geist
          - font-geist-mono
          - font-geist-mono-nerd-font
          - font-montserrat
          - font-noto-sans
          - font-roboto
          - ghostty
          - github
          - iina
          - netnewswire
          - obs
          - orbstack
          - pacifist
          - raycast
          - shottr
          - signal
          - steermouse
          - textsniper
          - tg-pro
          - transmit
          - visual-studio-code
        update_homebrew: false
        upgrade_all: false
        state: present

    - name: Install Mac App Store apps
      community.general.mas:
        id:
          - 1365531024 # 1Blocker
          - 1569813296 # 1Password for Safari
          - 1601151613 # Baking Soda
          - 1287239339 # ColorSlurp
          - 1606897889 # Consent-O-Matic
          - 1548544614 # Controlly
          - 640199958 # Developer
          - 1474335294 # GoodLinks
          - 1136220934 # Infuse
          - 1592917505 # Noir
          - 1289583905 # Pixelmator Pro
          - 1496833156 # Playgrounds
          - 1475387142 # Tailscale
          - 899247664 # TestFlight
          - 1591303229 # Vinegar
        state: present

- name: Order the dock
  hosts: localhost
  vars:
    dockutil_install: false
    # dockitems_remove:  # Need to figure out what the default dock items are first
    dockitems_persist:
      - name: Safari
        path: "/Applications/Safari.app/"
        pos: 1
      #  ChatGPT web app at pos 2, need to find a way to add them with Ansible
      - name: Mail
        path: "/Applications/Mail.app/"
        pos: 3
      - name: Calendar
        path: "/Applications/Calendar.app/"
        pos: 4
      - name: Reminders
        path: "/Applications/Reminders.app/"
        pos: 5
      - name: Notes
        path: "/Applications/Notes.app/"
        pos: 6
      - name: 1Password
        path: "/Applications/1Password.app/"
        pos: 7
      - name: GitHub Desktop
        path: "/Applications/GitHub Desktop.app/"
        pos: 8
      - name: Ghostty
        path: "/Applications/Ghostty.app/"
        pos: 9
      - name: Visual Studio Code
        path: "/Applications/Visual Studio Code.app/"
        pos: 10
      - name: Messages
        path: "/Applications/Messages.app/"
        pos: 11
      - name: Signal
        path: "/Applications/Signal.app/"
        pos: 12
      - name: Discord
        path: "/Applications/Discord.app/"
        pos: 13
      - name: Photos
        path: "/System/Applications/Photos.app/"
        pos: 14
      - name: Music
        path: "/System/Applications/Music.app/"
        pos: 15
      - name: App Store
        path: "/Applications/App Store.app/"
        pos: 16
      - name: System Settings
        path: "/Applications/System Settings.app/"
        pos: 17
