[Interface]
PrivateKey = {{ private_key }}
Address = 10.2.0.2/32
DNS = 10.2.0.1
PostUp = ip -4 route add 192.168.1.0/24 via 172.100.0.1; ip -4 route add 100.0.0.0/8 via 172.100.0.1;
PreDown = ip -4 route delete 192.168.1.0/24; ip -4 route delete 100.0.0.0/8;

[Peer]
PublicKey = {{ public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ endpoint }}
